@font-face {
  font-family: 'Arial-MT';
  src: url('../assets/fonts/Arial-MT.woff'); /* Путь к файлу со шрифтом */
}

/* ****** variables ******* */
:root {
  --white: #ffffff;
  --active-color: #d4b92f;
  --popup-bg: rgba(0, 0, 0, 0.7);

  --basic-opacity: 0.8;

  --transform-active-icon: scale(1.1);

  --transition-duration: 0.3s;

  --icon-large-size: 40px;
  --icon-medium-size: 32px;
  --icon-small-size: 15px;
}

/* ****** styles ******* */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  min-width: 320px;
  min-height: 100vh;
  font-family: 'Arial', sans-serif;
  font-size: 16px;
  color: var(--white);
  text-align: center;
  /* background: url('../assets/img/bg.jpg') no-repeat center/cover,
    rgba(0, 0, 0, 0.5); */
  background-blend-mode: multiply;
  transition: background-image 1s ease-in-out;
}

/* ****** header ******* */
.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  height: 30vh;
  min-height: 220px;
  padding: 20px;
}

/* ****** player ******* */
.player {
  padding-top: 15px;
}
.player-controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  opacity: var(--basic-opacity);
  width: 610px;
  margin-bottom: 28px;
}

.play-list {
  text-align: left;
}

.play-item {
  position: relative;
  padding: 5px 5px 10px 30px;
  list-style: none;
  opacity: var(--basic-opacity);
  cursor: pointer;
  transition: var(--transition-duration);
}

.play-item:hover {
  opacity: 1;
}

.play-item::before {
  /* content: '\2713'; */
  content: '';
  width: 22px;
  height: 22px;
  position: absolute;
  left: 0;
  top: 2px;
  /* font-weight: 900; */
  background-image: url('../assets/svg/play.svg');
  background-size: contain;
  cursor: pointer;
}

.pause-item::before {
  content: '';
  background-image: url('../assets/svg/pause.svg');
}

.play-item:active::before,
.pause-item:active::before {
  border: 0;
  outline: 0;
  transform: var(--transform-active-icon);
}

.item-active::before {
  /* color: var(--active-color); */
  filter: invert(61%) sepia(96%) saturate(338%) hue-rotate(13deg)
    brightness(101%) contrast(87%);
}

.player-icon,
.slider-icon,
.change-quote {
  width: var(--icon-medium-size);
  height: var(--icon-medium-size);
  background-size: var(--icon-medium-size) var(--icon-medium-size);
  background-position: center center;
  background-repeat: no-repeat;
  background-color: transparent;
  border: 0;
  outline: 0;
  opacity: var(--basic-opacity);
  cursor: pointer;
  transition: var(--transition-duration);
}

.player-icon:hover,
.slider-icon:hover,
.change-quote:hover {
  opacity: 1;
}

.player-icon:active,
.slider-icon:active,
.change-quote:active {
  border: 0;
  outline: 0;
  transform: var(--transform-active-icon);
}

.play {
  width: var(--icon-large-size);
  height: var(--icon-large-size);
  background-size: var(--icon-large-size) var(--icon-large-size);
  background-image: url('../assets/svg/play.svg');
}

.pause {
  background-image: url('../assets/svg/pause.svg');
}

.play-prev {
  background-image: url('../assets/svg/play-prev.svg');
}

.play-next {
  background-image: url('../assets/svg/play-next.svg');
}

.volume {
  background-image: url('../assets/svg/volume.svg');
}

.mute {
  background-image: url('../assets/svg/mute.svg');
}

.progress {
  background: linear-gradient(
    to right,
    var(--active-color) 0%,
    var(--active-color) 0%,
    var(--white) 0%,
    var(--white) 100%
  );
  height: 4px;
  width: 200px;
  border-radius: 5px;
  outline: none;
  transition: all 450ms ease-in;
  -webkit-appearance: none;
}

.progress-volume {
  width: 100px;
  background: linear-gradient(
    to right,
    var(--active-color) 0%,
    var(--active-color) 50%,
    var(--white) 50%,
    var(--white) 100%
  );
}

.progress::-webkit-slider-thumb {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  -webkit-appearance: none;
  cursor: pointer;
  background: var(--white);
}

.player-control {
  display: flex;
  align-items: center;
  gap: 10px;
}

.current-song-wrapper {
  position: relative;
}

.current-song {
  position: absolute;
  top: -20px;
}

/* ****** weather ******* */
.weather {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  row-gap: 5px;
  width: 200px;
  min-height: 180px;
  text-align: left;
}

.weather-error {
  margin-top: -10px;
}

.description-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  column-gap: 12px;
}

.weather-icon {
  font-size: 44px;
}

.city {
  width: 170px;
  height: 34px;
  padding: 5px;
  font-size: 20px;
  line-height: 24px;
  color: var(--white);
  border: 0;
  outline: 0;
  border-bottom: 1px solid var(--white);
  background-color: transparent;
}

.city::placeholder {
  font-size: 20px;
  color: var(--white);
  opacity: 0.6;
}

/* ****** main ******* */
.main {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40vh;
  min-height: 260px;
  padding: 20px;
}

/* ****** images slider ******* */
.slider-icon {
  position: absolute;
  top: 50%;
  margin-top: -16px;
  cursor: pointer;
}

.slide-prev {
  left: 20px;
  background-image: url('../assets/svg/slider-prev.svg');
}

.slide-next {
  right: 20px;
  background-image: url('../assets/svg/slider-next.svg');
}

/* ****** time and date ******* */
.time {
  min-height: 124px;
  margin-bottom: 10px;
  font-family: 'Arial-MT';
  font-size: 100px;
  letter-spacing: -4px;
}

.date {
  min-height: 28px;
  font-size: 24px;
  margin-bottom: 20px;
}

/* ****** greeting ******* */
.greeting-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: stretch;
  align-items: center;
  min-height: 48px;
  width: 100vw;
  font-size: 40px;
}

.greeting {
  flex: 1;
  padding: 10px;
  text-align: right;
}

.name {
  flex: 1;
  max-width: 50%;
  padding: 10px 10px 10px 0;
  font-size: 40px;
  color: var(--white);
  background-color: transparent;
  border: 0;
  outline: 0;
}

.name::placeholder {
  color: var(--white);
  opacity: 0.6;
}

/* ****** footer ******* */
.footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 30vh;
  min-height: 160px;
  padding: 20px;
}

.change-quote {
  margin-bottom: 30px;
  background-image: url('../assets/svg/reload.svg');
}

.quote {
  min-height: 32px;
}

.author {
  min-height: 20px;
}

/* ******************** */
/* ****** media ******* */
@media (max-width: 768px) {
  .time {
    min-height: 80px;
    font-size: 72px;
  }

  .greeting-container {
    min-height: 40px;
    font-size: 32px;
  }

  .greeting {
    padding: 5px;
  }

  .name {
    font-size: 32px;
    padding: 5px;
  }
}
